*

!.dockerignore
!docker/
!docker/local-documentserver/
!docker/local-documentserver/Dockerfile
!docker/local-documentserver/verify-installed-source.sh
!server/
!server/**
!web-apps/
!web-apps/**
!sdkjs/
!sdkjs/common/
!sdkjs/common/device_scale.js
!sdkjs/common/HtmlFileInternal/
!sdkjs/common/HtmlFileInternal/AllFonts.js
!sdkjs/common/Images/
!sdkjs/common/Images/**
!sdkjs/common/Native/
!sdkjs/common/Native/*.js
!sdkjs/common/libfont/
!sdkjs/common/libfont/js/
!sdkjs/common/libfont/js/fonts.*
!sdkjs/common/libfont/wasm/
!sdkjs/common/libfont/wasm/fonts.*
!sdkjs/word/
!sdkjs/word/sdk-*.js
!sdkjs/cell/
!sdkjs/cell/sdk-*.js
!sdkjs/cell/css/
!sdkjs/cell/css/*.css
!sdkjs/slide/
!sdkjs/slide/sdk-*.js
!sdkjs/slide/themes/
!sdkjs/slide/themes/**

.git
**/.git
**/.svn
**/.hg
**/node_modules
server/build
server/Gruntfile.js.out
web-apps/deploy
docker/local-documentserver/build
*.log
